body{
    background-color:rgb(191, 200, 163);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4,h5, h6{
    color: rgb(29, 137, 70);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
}

 .navbar{
background-color: #61373e;
padding: 10px;
display: flex;
justify-content: space-around;
align-items: center;
color: rgb(158, 130, 45);
}

.navbar a{
    color: rgb(207, 158, 132);
}
.navbar a:hover{
    background-color: #575757;
    border-radius: 5px;
}

.box-model{
    padding: 15px;
    background-color: rgb(196, 136, 96);
    border:5px solid rgb(227, 210, 174);
    margin: 20px;
}
.maincontent{
    margin-left: 220px;
    padding: 20px
}


.sidebar{
    background-color: #967676;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    padding: 15px;
    box-sizing: border-box;

}



